﻿@model LoginDto

@{
    Layout = "_BasicLayout";
    var returnUrl = ViewData["ReturnUrl"];
    ViewData["Title"] = "Login";
}

<style>
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .card {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        color: black;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
    }

    .form-control {
        border-radius: 4px;
        box-shadow: none;
    }

    .btn-primary {
        border-radius: 4px;
        padding: 10px 25px;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Login</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-controller="account" asp-action="login">
                        <div class="mb-3">
                            <label for="username" class="form-label">Email</label>
                            <input type="text" asp-for="Username" class="form-control" id="username" placeholder="Enter Username">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Enter password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" asp-for="RememberMe" class="form-check-input" id="rememberme">
                            <label class="form-check-label" for="rememberme">
                                Remember Me
                            </label>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>